version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: restaurant
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  app:
    build:
      context: .
      dockerfile: .docker/Dockerfile
    env_file: .env
    depends_on:
      - postgres
      - redis
    ports:
      - "3000:3000"
